* {
    font-family: "Inter", sans-serif;
    color: #357b77;
}

body,
html {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    position: relative;
}
#spacer {
    height: 40px;
}

h1 {
    color: #357b77;
    font-size: 30px;
    margin: 0px;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    margin: 0px;
    font-weight: 600;
    color: rgba(53, 123, 119, 0.5);
}

.titleContainer {
    padding: 26px 0px 26px 26px;
}

#current_week_dishes_scrollable {
    display: flex;
    overflow: auto;

    column-gap: 16px;
    scroll-snap-type: x mandatory;
    margin: 10px 0px 26px 0px;
    padding-bottom: 16px;
    padding-left: 26px;
    padding-right: 10px;
}

#current_week_dishes_scrollable::-webkit-scrollbar {
    display: none;
}

.todaysDishCard {
}

.dishcard {
    scroll-snap-align: start;
    scroll-margin-left: 15px;

    max-width: 130px;
    position: relative;
}

.dishcard:last-child {
    margin-right: 26px;
}
.dishTitle {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 7px;
    width: 110px;
}

.dishSubTitle {
    color: rgba(53, 123, 119, 0.5);
    margin: 0;
}

.dishcardImageOverlay {
    background: #ac3f37;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21px;
}

#star {
    width: 10px;
    height: 10px;
    padding-bottom: 2px;
    margin-right: 3px;
}

.dishcardImageOverlayText {
    padding: 0;
    margin: 0;
    color: white;

    font-size: 12px;
}

.dishcardImageOverlay1 {
    background: #357b77;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21px;
    left: 0;
}

.dishcardImageOverlayText1 {
    padding: 0;
    margin: 0;
    color: white;

    font-size: 12px;
}

.dishcard:first-child .dishcardImage {
    box-shadow: none;
}
.dishcardImage {
    object-fit: cover;
    width: 130px;
    height: 130px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#card1 {
    border-radius: 20px;
    background-color: rgba(127, 187, 196, 0.26);
    padding: 25px 15px 15px 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Dish selection */
.nextWeekBar {
    background-color: rgba(53, 123, 119, 0.5);
    padding: 16px 0px 0px 0px;
}

.nextWeekBar > h2 {
    color: white;
    padding: 0 0 10px 16px;
}

.nextWeekDayCard {
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px 0 10px;
    min-width: 70px;
    width: 70px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 10px;
    scroll-snap-align: start;
    scroll-margin-left: 10px;
}

.nextWeekDayCard > p {
    margin: 0 0;
}

.present {
    background-color: #357b77;
}

.present > * {
    color: white;
}

.nextWeekDayCardDay,
.nextWeekDayCardDate {
    font-weight: 600;
}

.nextWeekContainer {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    column-gap: 10px;
    scroll-snap-type: x mandatory;

    height: auto;
    padding: 0px 10px 10px 10px;

    justify-content: flex-start;
}

.nextWeekContainer::-webkit-scrollbar {
    display: none;
}

.presenceContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 20px;
}

.presenceCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: gray;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.presenceCircleImage {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.presenceCircle:nth-child(1) {
    grid-column: 1 / span 3;
    grid-row: 1;
}
.presenceCircle:nth-child(2) {
    grid-column: 3 / span 3;
    grid-row: 1;
}
.presenceCircle:nth-child(3) {
    grid-column: 5 / span 3;
    grid-row: 1;
}
.presenceCircle:nth-child(4) {
    grid-column: 7 / span 3;
    grid-row: 1;
}

/* Pick your dinner */

.pickDinnerContainer > h2 {
    color: rgba(53, 123, 119, 0.5);
    padding: 0 0 10px 16px;
    margin-top: 15px;
}

.yourPicksContainer {
    padding: 10px 16px 10px 16px;
    margin: 0 16px 10px 16px;
    background-color: rgba(127, 187, 196, 0.26);
    border-radius: 8px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}
.yourPicksContainer > h4 {
    margin: 0;
}

.yourPicksCard {
    border-radius: 8px;
}
.yourPicksImg {
    width: 70px;
    height: 70px;
    border-radius: 8px;
}

.yourPicksCard > P {
    font-size: 10px;
    margin-top: 0;
}

.yourPicksRank {
    background-color: #357b77;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.yourPicksImgContainer {
    position: relative;
}




#loginContainer {
    margin: 0;
    padding: 16px;
}

.loginInput {
    margin-top: 16px;
    height: 50px;
    width: 100%;
    background-color: #f6f6f6;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    text-indent: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    outline-color: #357b77;
}

.loginInput::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #bdbdbd;
}

.loginInput:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #bdbdbd;
}

.loginInput::-ms-input-placeholder {
    /* Microsoft Edge */

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #bdbdbd;
}

.loginButton {
    background-color: #357b77;
    color: white;
    border-radius: 100px;
    width: 100%;
    height: 51px;
    border: 0;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    margin-top: 32px;
}


.register, .forgotPassword{
    text-align: center;
}

/* sign up page */

#signupContainer {
    margin: 0;
    padding: 16px;
}

.signupInput {
    margin-top: 16px;
    height: 50px;
    width: 100%;
    background-color: #f6f6f6;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    text-indent: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    outline-color: #357b77;
}

.signupInput::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #bdbdbd;
}

.signupInput:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #bdbdbd;
}

.signupInput::-ms-input-placeholder {
    /* Microsoft Edge */

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #bdbdbd;
}

.signupButton {
    background-color: #357b77;
    color: white;
    border-radius: 100px;
    width: 100%;
    height: 51px;
    border: 0;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    margin-top: 32px;
}


.register, .forgotPassword{
    text-align: center;
}